<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>SACMR - Login</title>

        <!-- CSS FILES -->                
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200&family=Unbounded:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/bootstrap-icons.css" />
        <link rel="stylesheet" href="/css/tooplate-kool-form-pack.css" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdn.auth0.com/js/auth0-spa-js/2.0/auth0-spa-js.production.js"></script>
    </head>
    
    <body>
        <main>
            <header class="site-header">
                <div class="container">
                    <div class="row justify-content-between">

                        <div class="col-lg-12 col-12 d-flex">
                            <a class="site-header-text d-flex justify-content-center align-items-center me-auto" href="/home">
                                <i class="bi-train-front"></i>

                                <span>
                                SACMR
                            </span>
                            </a>

                            <ul class="social-icon d-flex justify-content-center align-items-center mx-auto">
                                <span class="text-white me-4 d-none d-lg-block">Mantenete conectado</span>

                                <li class="social-icon-item">
                                    <a href="/" class="social-icon-link bi-instagram"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="/" class="social-icon-link bi-twitter"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="/" class="social-icon-link bi-whatsapp"></a>
                                </li>
                            </ul>

                            <a class="bi-list offcanvas-icon" data-bs-toggle="offcanvas" href="#offcanvasMenu" role="button" aria-controls="offcanvasMenu"></a>

                        </div>

                    </div>
                </div>
            </header>


            <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">                
                <div class="offcanvas-header">                    
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                
                <div class="offcanvas-body d-flex flex-column justify-content-center align-items-center">
                    <nav>
                        <ul>
                            <li>
                                <a class="active" href="/login">Inicia sesión</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>



            <section class="hero-section d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-5 col-12 mx-auto" id="vueLoginForm">
                            <form class="custom-form login-form" role="form">
                                <h2 class="hero-title text-center mb-4 pb-2">Login</h2>

                                <div class="form-floating mb-4 p-0">
                                    <input type="text" name="user" id="user" v-model="username" class="form-control" placeholder="Usuario" required="">

                                    <label for="user">Usuario</label>
                                </div>

                                <div class="form-floating p-0">
                                    <input type="password" name="password" id="password" v-model="password" class="form-control" placeholder="Password" required="">

                                    <label for="password">Password</label>
                                </div>


                                <div class="row justify-content-center align-items-center">
                                    <div class="col-lg-5 col-12">
                                        <button type="submit" class="form-control" v-on:click="postLogin($event)">Login</button>
                                    </div>

                                    <div class="col-lg-5 col-12">
                                        <a href="register.html" class="btn custom-btn custom-border-btn">Register</a>
                                    </div>
                                </div>

                            </form>
                            <form>
                                <br>
                                <div class="d-grid mb-2">
                                    <button class="btn btn-github btn-login text-uppercase fw-bold" type="button" id="authLogin">

                                        <img src="https://git-scm.com/images/logos/downloads/Git-Icon-1788C.png" width="40" />
                                        <i class="fab fa-github me-2"></i> Auth0 Login
                                        <img src="https://www.edigitalagency.com.au/wp-content/uploads/google-logo-icon-PNG-Transparent-Background-letter-G-multiple-colors.png" width="40" />
                                    </button>
                                </div>
                            </form>
							
						
                      </div>
                    </div>
                </div>
			<div class="video-wrap">
                    <video autoplay="" loop="" muted="" class="custom-video" poster="">
                        <source src="/videos/video2.mp4" type="video/mp4">

                        Your browser does not support the video tag.
                    </video>
                </div>
            </section>
        </main>

        <!-- JAVASCRIPT FILES -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/countdown.js"></script>
        <script src="/js/init.js"></script>
        <script src="/js/vueLoginForm.js"></script>

    </body>
</html>
