{{#partial "principal" }}

    <h1> SACMR  </h1>

{{/partial}}


{{#partial "nombreUsuario" }}

    <h1> SACMR  </h1>

{{/partial}}


{{#partial "scriptsAdicionales" }}

    <h1>  </h1>

{{/partial}}

{{> layout }}